In [1]:
import pandas as pd
from sqlalchemy import create_engine
#from config import postgres_pw, postgres_user

In [2]:
characters_data = "disney-characters.csv"
characters_df = pd.read_csv(characters_data)
characters_df.head()

,movie_title,release_date,hero,villian,song
0,\r\nSnow White and the Seven Dwarfs,"December 21, 1937",Snow White,Evil Queen,Some Day My Prince Will Come
1,\r\nPinocchio,"February 7, 1940",Pinocchio,Stromboli,When You Wish upon a Star
2,\r\nFantasia,"November 13, 1940",NaN,Chernabog,NaN
3,Dumbo,"October 23, 1941",Dumbo,Ringmaster,Baby Mine
4,\r\nBambi,"August 13, 1942",Bambi,Hunter,Love Is a Song

In [3]:
director_data = "disney-director.csv"
director_df = pd.read_csv(director_data)
director_df.head()

                              name        director
0  Snow White and the Seven Dwarfs      David Hand
1                        Pinocchio  Ben Sharpsteen
2                         Fantasia    full credits
3                            Dumbo  Ben Sharpsteen
4                            Bambi      David Hand

In [4]:
movies_data = "disney_movies_total_gross.csv"
movies_df = pd.read_csv(movies_data)
movies_df.head()

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,"$184,925,485","$5,228,953,251"
1,Pinocchio,"Feb 9, 1940",Adventure,G,"$84,300,000","$2,188,229,052"
2,Fantasia,"Nov 13, 1940",Musical,G,"$83,320,000","$2,187,090,808"
3,Song of the South,"Nov 12, 1946",Adventure,G,"$65,000,000","$1,078,510,579"
4,Cinderella,"Feb 15, 1950",Drama,G,"$85,000,000","$920,608,730"